/* home.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 40px;
  }
  .title h1{
    background-color: #ffffff3c;
    border-radius: 20px;
  }
  .title .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  .title .logo-container:hover{
    transform: scale(1.1);
  }
  
  .title h1 {
    font-size: 3em;
    color: #c41b05; /* Spotify green color */
    margin-top: 20px;
  }
  
  .about, .vision {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  }
  
  .about h2, .vision h2 {
    font-size: 2em;
    color: #c41b05; /* Spotify green color */
    margin-bottom: 20px;
  }
  
  .about p, .vision p {
    line-height: 1.6;
    font-size: 1.1em;
  }
  
  .bg-music {
    background: url('../assets/bac.jpeg') no-repeat center center/cover;
    position: relative;
    padding: 60px 20px;
  }
  
  .bg-music::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Overlay to darken the background */
    z-index: -1;
  }
  
  @media (max-width: 768px) {
    .title h1 {
      font-size: 2.5em;
    }
  
    .about h2, .vision h2 {
      font-size: 1.5em;
    }
  }
  