/* src/components/OurProcess.css */
.samplemusic {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img{
  width: 1000px;
 
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}


.music-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(135deg, #ffd1d8, #e3eeff);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  margin-top: 30px;
  margin-bottom: 45px;
}

.music-container:hover {
  transform: scale(1.05);
}

.react-h5-audio-player {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
