/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playwrite+FR+Moderne:wght@100..400&family=Playwrite+NG+Modern:wght@100..400&family=Playwrite+NZ:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+TC:wght@100..900&family=Playwrite+FR+Moderne:wght@100..400&family=Playwrite+NG+Modern:wght@100..400&family=Playwrite+NZ:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.music-order-form-container {
    max-width: 600px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lora", serif;


}
.boderbox{
    margin-top: 70px;
    border:2px solid;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.662);
    background-color: rgb(228, 228, 228);
}
.priceing{
    background: url('../assets/back2.jpg') no-repeat center center/cover;
     height: 100vh;
    margin-top: -50px;
    height: 145vh;
}
.music-order-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
}
.youselected{
    font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
    
}
.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #3636ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #000000;
}
