@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playwrite+FR+Moderne:wght@100..400&family=Playwrite+NZ:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
hr{
  color: #000000;
  width: 100%;

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text1{ 
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  
}

.intro-text {
  text-align: center;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 25px;
  color: black;
  font-weight: 500;
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
}

.prices-container {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-size: 14px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px #000000;
  padding: 40px;
  border-radius: 20px;
  margin: 20px;
  width: 45%;
  transition: transform 0.3s ease-in-out;
  background-color: #ffffff;
  /* Black background */
  color: rgb(0, 0, 0);
  /* White text */
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
  /* Soft shadow */
}

.section {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.9em;
  color: #774936;
  text-shadow: 2px 2px 2px white;
  font-weight: 900;
}

.prices:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Slightly larger shadow on hover */
}

.feature {
  font-weight: bold;
}

.bullet p {
  margin: 5px 0;
}

.bullet p span {
  margin-right: 5px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .prices {
    width: 45%;
    margin: 0px;
    padding: 30px;
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .prices {
    width: 45%;
    margin: 0px;
    padding: 30px;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .prices {
    width: 100%;
    margin: 0px;
    padding: 30px;
    margin-top: 20px;
  }
}
.serv{
  background: url(../assets/back2.jpg);
}