.sample-music {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.play-icon {
  background-color: brown;
  border-radius: 20px;
}

.sample-music h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.player-container {
  width: 90%;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-player {
  flex: 2;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-image: url('../assets/Designer.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 2px brown;
  border-radius: 20px;
  flex-direction: column;
}

.sample-music-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 400px; /* Ensure consistent height */
}

.sample-music-list {
  flex: 2;
  min-width: 50%;
  margin-right: 20px;
  overflow-y: auto; /* Make the list scrollable if needed */
  height: 100%; /* Ensure the list takes full height */
  /* background-color: rgba(0, 0, 0, 0.307); */
  padding: 10px;
  border-radius: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sample-music-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sample-music-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.sample-music-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #000000;
}

.sample-music-item-left {
  display: flex;
  align-items: center;
}

.play-button {
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.sample-music-description, .sample-music-duration {
  color: #777;
}

.music-create-button {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}
.music-create-button button{
  background-color: rgb(133, 39, 39);
  width: 50%;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 120%;
  border: solid 2px white;
}

@media (max-width: 768px) {
  .sample-music-container {
    flex-direction: column;
    align-items: stretch;
    height: auto; /* Adjust height for mobile */
    width: 100%;
    height: 800px;
  }



}
